node_modules/
coverage
build
out
dist

.idea
.git
.vscode
.DS_Store
.npm
.yarn
.cache
.temp
.next
.nuxt
package-lock.json

.eslintcache
.stylelintcache

.vuepress/dist
.vuepress/cache

docs/.vitepress/cache
docs/.vitepress/dist

*.log*
*.tgz

.env
.env.local
